/*
  HTML5 Boilerplate

  reset.css contains a reset, font normalization and some base styles.

  credit is left where credit is due.
  much inspiration was taken from these projects:
	yui.yahooapis.com/2.8.1/build/base/base.css
	camendesign.com/design/
	praegnanz.de/weblog/htmlcssjs-kickstart
*/
/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700");
/* line 19, reset.css */
html, body, div, span, object, iframe, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* line 34, reset.css */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* line 40, reset.css */
h1 {
    font-size: 160%;
}

/* line 41, reset.css */
h2 {
    font-size: 150%;
}

/* line 42, reset.css */
h3 {
    font-size: 140%;
}

/* line 43, reset.css */
h4 {
    font-size: 130%;
}

/* line 44, reset.css */
h5 {
    font-size: 120%;
}

/* line 45, reset.css */
h6 {
    font-size: 110%;
}

/* line 46, reset.css */
fieldset {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* line 54, reset.css */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* line 59, reset.css */
blockquote, q {
    quotes: none;
}

/* line 61, reset.css */
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* line 64, reset.css */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* line 66, reset.css */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

/* line 68, reset.css */
del {
    text-decoration: line-through;
}

/* line 70, reset.css */
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

/* line 72, reset.css */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 74, reset.css */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* line 76, reset.css */
input, select {
    vertical-align: middle;
}

/* END RESET CSS */
/* font normalization inspired by  from the YUI Library's fonts.css: developer.yahoo.com/yui/ */
/* line 82, reset.css */
body {
    font: 13px/1.231 sans-serif;
    *font-size: small;
}

/* hack retained to preserve specificity */
/* line 83, reset.css */
select, input, textarea, button {
    font: 99% sans-serif;
}

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
/* line 87, reset.css */
pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}

/*
 * minimal base styles
 */
/* line 94, reset.css */
body, select, input, textarea {
    /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
    color: #444;
    /* set your base font here, to apply evenly */
    /* font-family: Georgia, serif;  */
}

/* headers (h1,h2,etc) have no default font-size or margin. define those yourself. */
/* line 102, reset.css */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* always force a scrollbar in non-IE: */
/* line 105, reset.css */
html {
    overflow-y: scroll;
}

/* accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 109, reset.css */
a:hover, a:active {
    outline: none;
}

/*a, a:active, a:visited { color: #607890; }*/
/* line 112, reset.css */
a, a:active {
    color: #607890;
}

/* line 113, reset.css */
a:hover {
    color: #036;
}

/* line 116, reset.css */
ul, ol {
    margin-left: 2em;
}

/* line 117, reset.css */
ol {
    list-style-type: decimal;
}

/* remove margins for navigation lists */
/* line 120, reset.css */
nav ul, nav li {
    margin: 0;
    list-style: none;
    list-style-image: none;
}

/* line 122, reset.css */
small {
    font-size: 85%;
}

/* line 123, reset.css */
strong, th {
    font-weight: bold;
}

/* line 125, reset.css */
td {
    vertical-align: top;
}

/* set sub, sup without affecting line-height: gist.github.com/413930 */
/* line 128, reset.css */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

/* line 129, reset.css */
sup {
    top: -0.5em;
}

/* line 130, reset.css */
sub {
    bottom: -0.25em;
}

/* line 132, reset.css */
pre {
    /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
    padding: 15px;
}

/* line 138, reset.css */
textarea {
    overflow: auto;
}

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
/* line 140, reset.css */
.ie6 legend, .ie7 legend {
    margin-left: -7px;
}

/* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
/* line 143, reset.css */
input[type="radio"] {
    vertical-align: text-bottom;
}

/* line 144, reset.css */
input[type="checkbox"] {
    vertical-align: bottom;
}

/* line 145, reset.css */
.ie7 input[type="checkbox"] {
    vertical-align: baseline;
}

/* line 146, reset.css */
.ie6 input {
    vertical-align: text-bottom;
}

/* hand cursor on clickable input elements */
/* line 149, reset.css */
label, input[type="button"], input[type="submit"], input[type="image"], button {
    cursor: pointer;
}

/* webkit browsers add a 2px margin outside the chrome of form elements */
/* line 152, reset.css */
button, input, select, textarea {
    margin: 0;
}

/* colors for form validity */
/* line 156, reset.css */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
    background-color: #f0dddd;
}

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
/* line 161, reset.css */
button {
    width: auto;
    overflow: visible;
}

/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 165, reset.css */
.ie7 img {
    -ms-interpolation-mode: bicubic;
}

/*
 * Non-semantic helper classes: please define your styles before this section.
 */
/* for image replacement */
/* line 172, reset.css */
.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 176, reset.css */
.hidden {
    display: none;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 180, reset.css */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 183, reset.css */
.invisible {
    visibility: hidden;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
/* line 186, reset.css */
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}

/* line 187, reset.css */
.clearfix:after {
    clear: both;
}

/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
/* line 189, reset.css */
.clearfix {
    zoom: 1;
}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
    /* line 196, reset.css */
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    /* black prints faster: sanbeiji.com/archives/953 */
    /* line 198, reset.css */
    a, a:visited {
        color: #444 !important;
        text-decoration: underline;
    }

    /* line 199, reset.css */
    a[href]:after {
        content: " (" attr(href) ")";
    }

    /* line 200, reset.css */
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /* line 201, reset.css */
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    /* don't show links for images, or javascript/internal links */
    /* line 202, reset.css */
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /* line 203, reset.css */
    thead {
        display: table-header-group;
    }

    /* css-discuss.incutio.com/wiki/Printing_Tables */
    /* line 204, reset.css */
    tr, img {
        page-break-inside: avoid;
    }

    @page {
        margin: 0.5cm;
    }
    /* line 206, reset.css */
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    /* line 207, reset.css */
    h2, h3 {
        page-break-after: avoid;
    }
}
/*

/!\ WARNING /!\
These styles are common to emails and webpages.
Remember to test both when modifying them.

*/
/*--- VARIABLES ---------------------------------------------------------*/
/*--- SHARED STYLES ---------------------------------------------*/
/* line 73, scss/_global_all.scss */
.is-underlined {
    text-decoration: underline;
}

/* line 81, scss/_global_all.scss */
.is-secondary, .note-callout {
    font-size: 14px;
    color: #7E8682;
}

/* line 88, scss/_global_all.scss */
.is-disabled {
    opacity: 0.4;
}

/* line 95, scss/_global_all.scss */
.is-hidden {
    visibility: hidden;
}

/* line 99, scss/_global_all.scss */
.button, .mailclark-button {
    font-family: "EB Garamond", Garamond, Georgia, Times, "Times New Roman", serif;
    display: inline-block;
    padding: 4px 8px;
    background-color: #FFF;
    color: #0A1713;
    border: 1px solid #0A1713;
    border-radius: 4px;
}

/* line 109, scss/_global_all.scss */
.button--primary {
    padding: 8px;
    color: #FFF;
    background-color: #0A1713;
    border-color: #0A1713;
}

/*--- FONTS & COLORS --------------------------------------------------------*/
@font-face {
    font-family: 'HipsterScriptPro';
    src: url('../fonts/HipsterScriptPro.otf?1599742354');
    src: url('../fonts/HipsterScriptPro.otf?&1599742354#iefix') format("opentype"), url('../fonts/HipsterScriptPro.woff?1599742354') format("woff"), url('../fonts/HipsterScriptPro.woff2?1599742354') format("woff2");
    font-weight: normal;
    font-style: normal;
}
/*--- BASICS ---------------------------------------------------------*/
/* line 40, scss/_global_web.scss */
body {
    font-family: "EB Garamond", Garamond, Georgia, Times, "Times New Roman", serif;
    color: #0A1713;
    font-size: 16px;
}

/* line 46, scss/_global_web.scss */
h1, h2, h3 {
    font-weight: normal;
    margin-bottom: 8px;
}

/* line 51, scss/_global_web.scss */
div, section, article, header {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* line 55, scss/_global_web.scss */
strong {
    font-weight: bold;
}

/* line 59, scss/_global_web.scss */
em {
    font-style: italic;
}

/* line 63, scss/_global_web.scss */
a, .accent, a:hover, a:active {
    text-decoration: none;
    color: #0A1713;
}

/* line 73, scss/_global_web.scss */
ul.is-inlined {
    list-style-type: none;
    margin-left: 0;
}

/*--- LAYOUT --------------------------------------------------------------*/
/* line 80, scss/_global_web.scss */
.is-page-centered {
    max-width: 1232px;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
}

/* line 87, scss/_global_web.scss */
.is-centered {
    text-align: center;
}

/* line 91, scss/_global_web.scss */
.is-full-width {
    width: 100%;
}

/* line 95, scss/_global_web.scss */
.has-top-margin {
    margin-top: 16px;
}

/* line 99, scss/_global_web.scss */
.has-right-margin {
    margin-right: 16px;
}

/* line 103, scss/_global_web.scss */
.has-bottom-margin {
    margin-bottom: 16px;
}

/* line 107, scss/_global_web.scss */
.has-left-margin {
    margin-left: 16px;
}

/* line 111, scss/_global_web.scss */
.body--full-height {
    min-height: 100vh;
    display: grid;
}

/*--- FORMS ---------------------------------------------------------*/
/* line 119, scss/_global_web.scss */
.button:hover {
    background-color: #0A1713;
    color: #FFF;
}

/* line 125, scss/_global_web.scss */
.button--primary:hover, .button--primary:active, .button--primary.is-saving {
    background-color: #B55271;
    border-color: #B55271;
}
/* line 130, scss/_global_web.scss */
.button--primary:disabled {
    opacity: 0.4;
}

/* line 135, scss/_global_web.scss */
.button--submit, .button--danger {
    padding: 8px 16px;
    background-color: #64AF8D;
    color: #FFF;
    border: 0;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
    transition: background-color 300ms ease-out;
}
/* line 144, scss/_global_web.scss */
.button--submit:hover, .button--danger:hover {
    background-color: #448366;
}
/* line 148, scss/_global_web.scss */
.button--submit:disabled, .button--danger:disabled {
    opacity: 0.4;
}
/* line 152, scss/_global_web.scss */
.button--submit strong, .button--danger strong {
    font-weight: 600;
}

/* line 157, scss/_global_web.scss */
.button--submit {
    background-color: #64AF8D;
}
/* line 160, scss/_global_web.scss */
.button--submit:hover {
    background-color: #448366;
}

/* line 165, scss/_global_web.scss */
.button--danger {
    background-color: #F71742;
}
/* line 168, scss/_global_web.scss */
.button--danger:hover {
    background-color: #bb0629;
}

/* line 173, scss/_global_web.scss */
.button--secondary {
    background-color: #C6C4B7;
    border: 0;
}
/* line 177, scss/_global_web.scss */
.button--secondary:hover {
    background-color: #E6AF83;
    color: #0A1713;
}

/* line 183, scss/_global_web.scss */
.button--cancel {
    color: #F71742;
    border-color: #F71742;
}
/* line 187, scss/_global_web.scss */
.button--cancel:hover {
    background-color: #F71742;
}

/* line 192, scss/_global_web.scss */
label, input[type=radio], input[type=checkbox] {
    vertical-align: middle;
}

/* line 199, scss/_global_web.scss */
textarea, input[type=text], input[type=password], input[type=email], input[type=number], select {
    font-family: "EB Garamond", Garamond, Georgia, Times, "Times New Roman", serif;
    color: #0A1713;
    background-color: #FFF;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #AAA;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
}
/* line 210, scss/_global_web.scss */
textarea:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, select:focus {
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 7px, rgba(0, 0, 0, 0.1) 0 1px 2px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 7px, rgba(0, 0, 0, 0.1) 0 1px 2px inset;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 7px, rgba(0, 0, 0, 0.1) 0 1px 2px inset;
}
/* line 213, scss/_global_web.scss */
textarea:focus::-webkit-input-placeholder, input[type=text]:focus::-webkit-input-placeholder, input[type=password]:focus::-webkit-input-placeholder, input[type=email]:focus::-webkit-input-placeholder, input[type=number]:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder {
    color: #AAA;
}
/* line 216, scss/_global_web.scss */
textarea:focus::-moz-placeholder, input[type=text]:focus::-moz-placeholder, input[type=password]:focus::-moz-placeholder, input[type=email]:focus::-moz-placeholder, input[type=number]:focus::-moz-placeholder, select:focus::-moz-placeholder {
    color: #AAA;
}
/* line 219, scss/_global_web.scss */
textarea:focus:-ms-input-placeholder, input[type=text]:focus:-ms-input-placeholder, input[type=password]:focus:-ms-input-placeholder, input[type=email]:focus:-ms-input-placeholder, input[type=number]:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder {
    color: #AAA;
}

/* line 225, scss/_global_web.scss */
select.is-inlined {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
}

/* line 231, scss/_global_web.scss */
.message--error {
    color: #F71742;
    text-align: center;
}
/* line 235, scss/_global_web.scss */
.message--error:before {
    content: "\274c";
    color: #F71742;
}

/* line 241, scss/_global_web.scss */
.message--success {
    text-align: center;
}
/* line 244, scss/_global_web.scss */
.message--success:before {
    content: "\2713";
    color: #08BB27;
}

/* line 250, scss/_global_web.scss */
.message--info {
    color: #3C7382;
}
/* line 254, scss/_global_web.scss */
.message--info:before {
    content: "\24d8";
    color: #3C7382;
    margin-right: 4px;
}

/* line 261, scss/_global_web.scss */
.message--error:before, .message--success:before {
    font-size: 18px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

/*--- MORE SHARED STYLES -----------------------------------------------------*/
/* .inline-code is helpdocs class name */
/* line 272, scss/_global_web.scss */
.is-code, .inline-code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace, sans-serif;
    color: #B55271;
    background-color: #F6F6F6;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 1px 3px;
}

/* line 281, scss/_global_web.scss */
.is-code--secondary {
    color: #0A1713;
}

/* line 285, scss/_global_web.scss */
.is-emoji {
    font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
}

/* line 306, scss/_global_web.scss */
.mailclark-support-chat-widget {
    background: #75b899;
    border-radius: 50%;
    bottom: 18pt;
    display: inline;
    height: 45px;
    width: 46px;
    padding: 0;
    position: fixed;
    right: 18pt;
    top: auto;
    z-index: 2147483646;
}

/* line 3, scss/_menu_ui.scss */
.ui-menu__hamburger {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #64AF8D;
    padding: 8px;
    font-size: 18px;
    color: #FFF;
    border-radius: 0 0 8px;
}
/* line 13, scss/_menu_ui.scss */
.ui-menu__hamburger:hover {
    color: #EEB739;
}

/* line 18, scss/_menu_ui.scss */
.ui-menu {
    background-color: #64AF8D;
}

/* line 22, scss/_menu_ui.scss */
.ui-menu__pane {
    display: none;
}

/* line 26, scss/_menu_ui.scss */
.ui-menu__items {
    padding-left: 48px;
}

/* line 30, scss/_menu_ui.scss */
.ui-menu__item, .ui-menu__only-item {
    display: block;
    padding: 8px 16px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}
/* line 35, scss/_menu_ui.scss */
.ui-menu__item, .ui-menu__item:hover, .ui-menu__only-item, .ui-menu__only-item:hover {
    color: #FFF;
}
/* line 39, scss/_menu_ui.scss */
.ui-menu__item:not(.ui-menu__item--current):hover, .ui-menu__only-item:not(.ui-menu__item--current):hover {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.1);
}

/* line 45, scss/_menu_ui.scss */
.ui-menu__item {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 49, scss/_menu_ui.scss */
.ui-menu__mono-item-pane {
    display: flex;
    justify-content: flex-end;
}

/* line 54, scss/_menu_ui.scss */
.ui-menu__item--logo {
    display: none;
    vertical-align: top;
    height: 48px;
}

/* line 60, scss/_menu_ui.scss */
.ui-menu__item--current {
    background-color: rgba(0, 0, 0, 0.2);
}

/* line 64, scss/_menu_ui.scss */
.ui-menu__item--button {
    border-right: 0;
}
/* line 67, scss/_menu_ui.scss */
.ui-menu__item--button span {
    display: inline-block;
    background: #0A1713;
    font-size: 16px;
    line-height: 21px;
    padding: 0 4px;
    border-radius: 4px;
}

/*--- RESPONSIVE ---------------------------------------------------------*/
/* Mobile first */
@media screen and (min-width: 769px) {
    /* line 83, scss/_menu_ui.scss */
    .ui-menu__hamburger {
        top: 4px;
        font-size: 21px;
        padding: 0 8px;
        line-height: 48px;
    }

    /* line 90, scss/_menu_ui.scss */
    .ui-menu {
        border-top: 4px solid #448366;
    }

    /* line 94, scss/_menu_ui.scss */
    .ui-menu__pane--opened {
        display: block;
    }

    /* line 98, scss/_menu_ui.scss */
    .ui-menu__items {
        display: flex;
        align-items: stretch;
        padding: 0;
    }

    /* line 104, scss/_menu_ui.scss */
    .ui-menu__item {
        padding: 0 16px;
        font-size: 18px;
        height: 48px;
        line-height: 48px;
    }

    /* line 111, scss/_menu_ui.scss */
    .ui-menu__item--logo {
        display: inline-block;
    }

    /* line 115, scss/_menu_ui.scss */
    .ui-menu__item--logo-substitute {
        display: none;
    }
}
/* line 4, scss/_global_ui.scss */
body {
    background-color: #F1F1E6;
}

/* line 8, scss/_global_ui.scss */
.body--full-height {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}

/* line 13, scss/_global_ui.scss */
.centered-body {
    margin: auto;
    padding: 8px;
    grid-row: 2 / span 1;
}

/* line 19, scss/_global_ui.scss */
.top-bar {
    grid-row: 1 / span 1;
}

/* line 23, scss/_global_ui.scss */
.page__body {
    background-color: #F1F1E6;
}

/*--- HEADERS -----------------------------------------------------------------*/
/* line 30, scss/_global_ui.scss */
.header {
    background-color: #F1F1E6;
    padding: 24px 16px;
    text-align: center;
}

/* line 36, scss/_global_ui.scss */
.header__title {
    font-size: 27px;
    font-style: italic;
    margin: 0;
}

/* line 42, scss/_global_ui.scss */
.section__title {
    font-size: 21px;
    font-style: italic;
}

/* line 47, scss/_global_ui.scss */
.header__title strong, .section__title strong {
    font-weight: 500;
}

/* line 51, scss/_global_ui.scss */
.header__text {
    margin-top: 8px;
}

/*--- ARTICLES -----------------------------------------------------------*/
/* line 58, scss/_global_ui.scss */
.fieldset {
    background-color: #F1F1E6;
}
/* line 61, scss/_global_ui.scss */
.fieldset:not(.is-bottom-sticked):last-of-type {
    padding-bottom: 48px;
}

/* line 66, scss/_global_ui.scss */
.fieldset__body {
    padding: 24px 16px;
    border-top: 1px dotted #C6C4B7;
}

/* line 71, scss/_global_ui.scss */
.fieldset__title {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 8px;
}
/* line 76, scss/_global_ui.scss */
.fieldset__title em {
    color: #B55271;
    font-weight: bold;
}

/* line 82, scss/_global_ui.scss */
.fieldset__subtitle {
    display: block;
    font-style: italic;
    margin-bottom: 4px;
}

/* line 88, scss/_global_ui.scss */
.fieldset__subtext {
    font-style: italic;
    margin-bottom: 8px;
}

/* line 93, scss/_global_ui.scss */
.fieldset__fields--submit {
    text-align: center;
}

/* line 97, scss/_global_ui.scss */
.callout {
    background-color: #e8e8d6;
    border-style: solid;
    border-color: #C6C4B7;
    border-width: 1px 0 1px;
    padding: 16px;
}
/* line 104, scss/_global_ui.scss */
.callout p + p {
    margin-top: 8px;
}

/* line 109, scss/_global_ui.scss */
.callout--boxed {
    border-width: 1px;
    border-radius: 4px;
}

/* line 114, scss/_global_ui.scss */
.callout + .fieldset .fieldset__body:first-of-type {
    border-top: none;
}

/*--- INPUTS -----------------------------------------------------------*/
/* line 121, scss/_global_ui.scss */
input[type="radio"] {
    vertical-align: middle;
}

/* line 125, scss/_global_ui.scss */
textarea {
    display: block;
    width: 100%;
}

/* line 130, scss/_global_ui.scss */
.button--primary {
    font-size: 18px;
}
/* line 133, scss/_global_ui.scss */
.button--primary + * {
    margin-top: 16px;
}

/* line 138, scss/_global_ui.scss */
.button--submit {
    font-size: 18px;
}

/* line 142, scss/_global_ui.scss */
.button--submit-alt {
    padding: 8px 16px;
    background-color: #C6C4B7;
    color: rgba(0, 0, 0, 0.7);
    border: 0;
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.3) inset;
    transition: background-color 300ms ease-out;
}
/* line 150, scss/_global_ui.scss */
.button--submit-alt:hover {
    background-color: #a4a18c;
}

/* line 155, scss/_global_ui.scss */
.has-medium-width {
    width: 100%;
    max-width: 480px;
}

/* line 161, scss/_global_ui.scss */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 4px 8px 0;
}

/* line 169, scss/_global_ui.scss */
.switch--smaller {
    width: 38px;
    height: 22px;
}

/* line 174, scss/_global_ui.scss */
.switch__input {
    display: none;
}

/* line 178, scss/_global_ui.scss */
.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BBB;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}
/* line 189, scss/_global_ui.scss */
.switch__slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFF;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

/* line 202, scss/_global_ui.scss */
.switch__slider--smaller {
    border-radius: 24px;
}
/* line 205, scss/_global_ui.scss */
.switch__slider--smaller:before {
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
}

/* line 213, scss/_global_ui.scss */
.switch__input:checked + .switch__slider {
    background-color: #64AF8D;
}

/* line 217, scss/_global_ui.scss */
.switch__input:focus + .switch__slider {
    -moz-box-shadow: 0 0 1px #64AF8D;
    -webkit-box-shadow: 0 0 1px #64AF8D;
    box-shadow: 0 0 1px #64AF8D;
}

/* line 221, scss/_global_ui.scss */
.switch__input:checked + .switch__slider:before {
    -moz-transform: translateX(26px);
    -ms-transform: translateX(26px);
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

/* line 224, scss/_global_ui.scss */
.switch__input:checked + .switch__slider--smaller:before {
    -moz-transform: translateX(16px);
    -ms-transform: translateX(16px);
    -webkit-transform: translateX(16px);
    transform: translateX(16px);
}

/* line 229, scss/_global_ui.scss */
.email-input-wrapper {
    display: flex;
}

/* line 233, scss/_global_ui.scss */
.email-input {
    height: 37px;
    line-height: 35px;
}

/* line 238, scss/_global_ui.scss */
.email-input--left[type=text] {
    text-align: right;
    width: 90px;
    border-radius: 4px 0 0 4px;
    border-width: 1px 0 1px 1px;
}

/* line 245, scss/_global_ui.scss */
.email-input--middle {
    display: inline-block;
    box-sizing: border-box;
    background-color: #DDD;
    padding: 0 4px;
    border-color: #AAA;
    border-style: solid;
    border-width: 1px 0;
}

/* line 255, scss/_global_ui.scss */
.email-input--right {
    border-radius: 0 4px 4px 0 !important;
    border-width: 1px 1px 1px 0 !important;
    margin-bottom: 0 !important;
}

/* line 262, scss/_global_ui.scss */
span.email-input--right {
    padding: 0 8px 0 0;
    white-space: nowrap;
}

/*--- CONFIRM -----------------------------------------------------------*/
/* line 270, scss/_global_ui.scss */
.confirm {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: auto;
}

/* line 284, scss/_global_ui.scss */
.confirm__body {
    padding: 24px;
    background-color: #F0F2E7;
    border-style: solid;
    border-color: #F1F1E6;
    border-width: 2px 0;
}

/* line 292, scss/_global_ui.scss */
.confirm__message {
    margin: 24px auto;
    padding: 8px;
    text-align: center;
    font-size: 21px;
}

/* line 299, scss/_global_ui.scss */
.confirm__actions {
    margin: 24px auto;
    padding: 24px;
    text-align: center;
}
/* line 304, scss/_global_ui.scss */
.confirm__actions .button {
    font-size: 24px;
    margin: 8px;
    cursor: pointer;
}

/*--- REMINDER DELAYS -----------------------------------------------------------*/
/* line 314, scss/_global_ui.scss */
.delays {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin: 16px 0 8px;
}

/* line 320, scss/_global_ui.scss */
.delay__status-emoji {
    text-align: center;
}

/* line 324, scss/_global_ui.scss */
.delay__status {
    margin: 0 8px 8px 4px;
    font-weight: 500;
    align-self: center;
}

/* line 330, scss/_global_ui.scss */
.delay__value {
    text-align: right;
}
/* line 333, scss/_global_ui.scss */
.delay__value strong {
    font-weight: 500;
}
/* line 337, scss/_global_ui.scss */
.delay__value input {
    width: 3em;
}
/* line 341, scss/_global_ui.scss */
.delay__value input, .delay__value select {
    margin-bottom: 4px;
    padding: 2px 4px;
}

/* line 347, scss/_global_ui.scss */
.delay__value--reply-score {
    grid-column: 2 / span 2;
    margin-left: 4px;
}
/* line 351, scss/_global_ui.scss */
.delay__value--reply-score a {
    margin-right: 8px;
}

/*--- MISC -----------------------------------------------------------*/
/* line 359, scss/_global_ui.scss */
.tip-landscape {
    display: none;
    margin: 0 8px 24px;
}
/* line 363, scss/_global_ui.scss */
.tip-landscape em {
    font-style: italic;
}

/* line 368, scss/_global_ui.scss */
.is-smaller {
    font-size: 14px;
}

/* line 372, scss/_global_ui.scss */
.is-secondary a {
    color: #7E8682;
}

/* line 376, scss/_global_ui.scss */
.go-back {
    font-size: 14px;
    display: block;
    color: #7E8682;
    margin-bottom: 8px;
}
/* line 382, scss/_global_ui.scss */
.go-back span {
    text-decoration: underline;
}

/* line 387, scss/_global_ui.scss */
.is-bottom-sticked {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: rgba(241, 241, 230, 0.8);
}

/* line 394, scss/_global_ui.scss */
.is-smaller + .is-secondary {
    margin-top: 4px;
}

/* line 398, scss/_global_ui.scss */
.is-secondary + .is-secondary {
    margin-top: 8px;
}

/* line 403, scss/_global_ui.scss */
.footer {
    text-align: center;
    color: #555;
}

/* line 408, scss/_global_ui.scss */
.footer__callout {
    display: block;
    margin-top: 8px;
    font-weight: 500;
}
/* line 413, scss/_global_ui.scss */
.footer__callout, .footer__callout a {
    color: #B55271;
}

/*--- RESPONSIVE ---------------------------------------------------------*/
/* Mobile first */
@media screen and (orientation: portrait) and (max-width: 480px) {
    /* line 424, scss/_global_ui.scss */
    .tip-landscape {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    /* line 431, scss/_global_ui.scss */
    .is-for-desktop {
        display: none;
    }
}
@media screen and (min-width: 769px) {
    /* line 438, scss/_global_ui.scss */
    .header {
        padding-top: 48px;
        text-align: left;
    }

    /* line 443, scss/_global_ui.scss */
    .header__text {
        font-size: 18px;
        margin-bottom: 24px;
    }

    /* line 448, scss/_global_ui.scss */
    .fieldset__body {
        display: flex;
    }

    /* line 452, scss/_global_ui.scss */
    .fieldset__body .fieldset__heading {
        width: 256.33333px;
        min-width: 256.33333px;
        padding-right: 24px;
    }

    /* line 458, scss/_global_ui.scss */
    .fieldset__body .fieldset__fields {
        width: 100%;
    }

    /* line 462, scss/_global_ui.scss */
    .fieldset__subtitle {
        margin-top: 8px;
        text-align: right;
    }

    /* line 467, scss/_global_ui.scss */
    .fieldset__fields--submit {
        text-align: left;
    }

    /* line 471, scss/_global_ui.scss */
    .callout {
        margin-bottom: 16px;
    }

    /* line 475, scss/_global_ui.scss */
    .button--submit {
        font-size: 24px;
    }

    /* line 479, scss/_global_ui.scss */
    .email-input--left[type=text] {
        width: 150px;
    }

    /* line 483, scss/_global_ui.scss */
    .confirm__message, .confirm__actions .button {
        font-size: 28px;
    }

    /* line 487, scss/_global_ui.scss */
    .is-for-mobile {
        display: none;
    }
}
@media screen and (min-width: 1025px) {
    /* line 494, scss/_global_ui.scss */
    .header__title {
        font-size: 28px;
    }

    /* line 498, scss/_global_ui.scss */
    .section__title {
        font-size: 24px;
    }

    /* line 502, scss/_global_ui.scss */
    .header__text {
        font-size: 21px;
    }

    /* line 506, scss/_global_ui.scss */
    .fieldset__body .fieldset__heading {
        width: 256.25px;
        min-width: 256.25px;
    }

    /* line 511, scss/_global_ui.scss */
    .fieldset__title:not(.fieldset__title--option), .button--primary {
        font-size: 21px;
    }

    /* line 515, scss/_global_ui.scss */
    .fieldset__body, .fieldset__title--option, .fieldset__subtitle, .fieldset__fields, .callout {
        font-size: 18px;
    }

    /* line 519, scss/_global_ui.scss */
    .is-smaller {
        font-size: 16px;
    }

    /* line 523, scss/_global_ui.scss */
    .go-back {
        font-size: 16px;
    }
}
@media screen and (min-width: 1280px) {
    /* line 530, scss/_global_ui.scss */
    .header__title {
        font-size: 35px;
    }

    /* line 534, scss/_global_ui.scss */
    .section__title {
        font-size: 27px;
    }

    /* line 538, scss/_global_ui.scss */
    .fieldset__body .fieldset__heading {
        width: 320px;
        min-width: 320px;
    }

    /* line 543, scss/_global_ui.scss */
    .fieldset__title:not(.fieldset__title--option), .button--primary {
        font-size: 24px;
    }

    /* line 547, scss/_global_ui.scss */
    .fieldset__body, .fieldset__title--option, .fieldset__subtitle, .fieldset__fields {
        font-size: 21px;
    }

    /* line 551, scss/_global_ui.scss */
    .callout {
        font-size: 21px;
        border-radius: 4px;
        border-width: 1px;
    }

    /* line 557, scss/_global_ui.scss */
    .email-input {
        height: 40px;
    }

    /* line 561, scss/_global_ui.scss */
    .email-input--middle {
        line-height: 38px;
    }

    /* line 565, scss/_global_ui.scss */
    .is-smaller {
        font-size: 18px;
    }
}
/* line 3, scss/ui-wizard-start.scss */
.centered-body {
    padding: 16px;
}

/* line 7, scss/ui-wizard-start.scss */
.start-header {
    text-align: center;
}

/* line 11, scss/ui-wizard-start.scss */
.start-header__logo {
    width: 125px;
}

/* line 15, scss/ui-wizard-start.scss */
.start-header__title {
    font-size: 28px;
    color: #64AF8D;
    margin-bottom: 16px;
}

/* line 21, scss/ui-wizard-start.scss */
.type {
    display: block;
    position: relative;
    background-color: #F9FAF5;
    border: 3px solid #e8e8d6;
    border-radius: 4px;
    text-align: center;
    padding: 16px;
    margin-bottom: 16px;
}
/* line 31, scss/ui-wizard-start.scss */
.type:hover {
    border-color: #64AF8D;
}
/* line 34, scss/ui-wizard-start.scss */
.type:hover .type__title {
    color: #64AF8D;
}

/* line 40, scss/ui-wizard-start.scss */
.type__title {
    font-size: 24px;
    color: #1F4438;
    margin-bottom: 8px;
    font-weight: 600;
}

/* line 47, scss/ui-wizard-start.scss */
.type__description {
    font-size: 18px;
    margin-bottom: 8px;
}

/* line 52, scss/ui-wizard-start.scss */
.type__example {
    color: #B55271;
    font-style: italic;
}
/* line 56, scss/ui-wizard-start.scss */
.type__example span {
    opacity: 0.6;
}

/* line 61, scss/ui-wizard-start.scss */
.type__services {
    margin-top: 16px;
}

/* line 65, scss/ui-wizard-start.scss */
.type__service-logo {
    width: 30px;
    display: inline-block;
}
/* line 69, scss/ui-wizard-start.scss */
.type__service-logo + .type__service-logo {
    margin-left: 8px;
}

/* line 74, scss/ui-wizard-start.scss */
.type__demo {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    border-radius: 4px 0 0 0;
    padding: 4px;
    opacity: 0.8;
}
/* line 83, scss/ui-wizard-start.scss */
.type__demo:hover {
    opacity: 1;
    background-color: #64AF8D;
}

/* line 89, scss/ui-wizard-start.scss */
.warning-message {
    color: #B55271;
    text-align: center;
    padding: 8px;
    margin-bottom: 24px;
    border-width: 2px 0;
    border-style: solid;
    border-color: #B55271;
}

/* line 100, scss/ui-wizard-start.scss */
.email-tos {
    background: #F0F2E7;
    border-radius: 4px;
    position: fixed;
    min-width: 300px;
    max-width: 610px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    z-index: 3;
    padding: 24px 16px;
}

/* line 114, scss/ui-wizard-start.scss */
.email-tos__fieldset {
    margin-bottom: 24px;
}

/* line 118, scss/ui-wizard-start.scss */
.email-tos__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 48px;
    font-style: italic;
}

/* line 125, scss/ui-wizard-start.scss */
.email-tos__email {
    width: 100%;
}

/* line 129, scss/ui-wizard-start.scss */
.email-tos__caption {
    font-size: 16px;
}

/* line 133, scss/ui-wizard-start.scss */
.email-tos__consent {
    transform: scale(1.25);
    margin: 0 4px;
}

/* line 138, scss/ui-wizard-start.scss */
.email-tos__submit {
    text-align: center;
    font-size: 24px;
    margin-top: 48px;
}

/* line 144, scss/ui-wizard-start.scss */
.email-tos__overlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

/*--- RESPONSIVE ---------------------------------------------------------*/
/* Mobile first */
@media screen and (min-width: 769px) {
    /* line 159, scss/ui-wizard-start.scss */
    .onboarding-field, .onboarding-choice {
        font-size: 18px;
    }
}
@media screen and (min-width: 1025px) {
    /* line 166, scss/ui-wizard-start.scss */
    .start-header__logo {
        width: 160px;
    }

    /* line 170, scss/ui-wizard-start.scss */
    .start-header__title {
        font-size: 35px;
        margin-bottom: 24px;
    }

    /* line 175, scss/ui-wizard-start.scss */
    .start-header__text {
        font-size: 24px;
        margin-bottom: 48px;
    }

    /* line 180, scss/ui-wizard-start.scss */
    .types {
        max-width: 1232px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 24px;
        grid-template-areas: "shared shared shared shared" "individual individual forwarding guest";
    }

    /* line 190, scss/ui-wizard-start.scss */
    .types--guest-disabled {
        grid-template-areas: "shared shared shared shared" "individual individual individual forwarding";
    }

    /* line 196, scss/ui-wizard-start.scss */
    .type {
        margin-bottom: 24px;
    }

    /* line 200, scss/ui-wizard-start.scss */
    .type--shared {
        grid-area: shared;
    }
    /* line 203, scss/ui-wizard-start.scss */
    .type--shared .type__title {
        font-size: 35px;
    }

    /* line 208, scss/ui-wizard-start.scss */
    .type--individual {
        grid-area: individual;
    }

    /* line 212, scss/ui-wizard-start.scss */
    .type--forwarding {
        grid-area: forwarding;
    }

    /* line 216, scss/ui-wizard-start.scss */
    .type--guest {
        grid-area: guest;
    }

    /* line 220, scss/ui-wizard-start.scss */
    .type__title {
        font-size: 28px;
    }

    /* line 224, scss/ui-wizard-start.scss */
    .type__description {
        margin-bottom: 16px;
    }

    /* line 228, scss/ui-wizard-start.scss */
    .type__description--bigger {
        font-size: 21px;
    }

    /* line 232, scss/ui-wizard-start.scss */
    .type__example {
        font-size: 18px;
    }

    /* line 236, scss/ui-wizard-start.scss */
    .type__services {
        margin-top: 24px;
    }

    /* line 240, scss/ui-wizard-start.scss */
    .type__service-logo {
        width: 35px;
    }
    /* line 243, scss/ui-wizard-start.scss */
    .type__service-logo + .type__service-logo {
        margin-left: 16px;
    }

    /* line 248, scss/ui-wizard-start.scss */
    .type__demo {
        font-size: 16px;
    }

    /* line 252, scss/ui-wizard-start.scss */
    .footer__callout {
        display: inline-block;
        margin: 0 24px;
    }
}

/*# sourceMappingURL=ui-wizard-start.css.map */
